header {
    width: 100%;
    height: 100vh;

    .carousel-inner {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            height: 100vh;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }

        .carousel-caption {
            position: absolute;
            bottom: 25%;
            transform: translateY(50%);
            text-align: center;

            h5,
            p {
                color: colors.$primary-color;
                font-family: fonts.$text-font-family;
            }

            h5 {
                font-weight: fonts.$semi-bold-font-weight;
                letter-spacing: 0.1rem;
                letter-spacing: fonts.$xsmall-letter-spacing;
            }

            p {
                font-size: fonts.$small-font-size;
                font-weight: fonts.$normal-font-weight;
                letter-spacing: fonts.$small-letter-spacing;
                font-style: italic;
            }
        }
    }
}

@media (min-width: 769px) {
    .carousel-caption h5 {
        font-size: fonts.$xlarge-font-size;
    }
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: fonts.$large-font-size
    }

    .carousel-indicators {
        display: none;
    }
}

@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: fonts.$large-font-size
    }

    .carousel-caption p {
        font-size: fonts.$small-font-size;
        padding-top: 1rem;
    }
}