#section-reservation {
    background-color: colors.$primary-color;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23acb4cc' fill-opacity='0.16'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    .inner-section-container {
        margin-bottom: 2rem;
    }

    .container {
        background-color: colors.$tertiary-color;
        padding: 2rem;
        border-radius: 0.7rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 35rem;
        margin: 0 auto;
        margin-bottom: 3rem;


        h2 {
            font-size: fonts.$medium-font-size;
            font-family: fonts.$primary-font-family;
            font-weight: fonts.$semi-bold-font-weight;
            text-align: center;
            color: colors.$secondary-color;
            margin-bottom: 1.5rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .form-label {
                font-size: 2rem;
                font-weight: fonts.$normal-font-weight;
                color: colors.$secondary-color;
                margin-bottom: 0.5rem;
                font-family: fonts.$subtitle-font-family;
            }

            .form-control {
                border-radius: 0.4rem;
                padding: 0.75rem;
                font-size: fonts.$small-font-size;
                border: 1px solid colors.$button-hover-color;

                &:focus {
                    border-color: colors.$button-color;
                    box-shadow: 0 0 1rem rgba(0, 123, 255, 0.5);
                }

                &.is-invalid {
                    border-color: colors.$invalid-info-color;
                }
            }

            // Style of date and time icons during validation
            input[type="date"].is-invalid,
            input[type="time"].is-invalid {
                border-color: colors.$invalid-info-color;
                padding-right: 2.5rem;
                position: relative;
                background-position: right 10px center;
            }

            .invalid-feedback {
                font-size: fonts.$xsmall-font-size;
                color: colors.$invalid-info-color;
            }

            button[type="submit"] {
                align-self: center;
                padding: 0.75rem 2rem;
                font-size: fonts.$small-font-size;
                font-weight: fonts.$normal-font-weight;
                color: colors.$primary-color;
                background-color: colors.$button-color;
                border: none;
                border-radius: 0.4rem;
                transition: all 0.3s ease;

                &:hover {
                    background-color: colors.$button-hover-color;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #section-reservation {
        .container {
            max-width: 90%;
        }
    }
}

@media (min-width: 1200px) {
    #section-reservation {
        .container {
            max-width: 50rem;
        }
    }
}