$primary-color: #FFFFFF;
$secondary-color: #000000;
$tertiary-color: #C3AA83;
$main-background: #060C0D;
$button-color: #012a4a;
$button-hover-color: #5c677d;
$social-hover-color: #83654A;
$invalid-info-color: #dc3545;