//Font families
$primary-font-family: "Montserrat", sans-serif;
$logo-font-family: "Playfair Display", serif;

//Font Sizes
$medium-font-size: 1.7rem;
$small-font-size: 1.1rem;

//Font Weights
$bold-font-weight: 800;
$semi-bold-font-weight: 600;
$normal-font-weight: 500;

//Letter Spacing
$small-letter-spacing: 0.12rem;

